.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 24vw;
  padding-right: 24vw;
}

.headerlogo {
  width: 20%;
  height: 25%;
  padding: 0.5rem;
  min-width: 260px;
}

.headerlogo:hover {
  cursor: pointer;
}

.languagemenubtncontainer {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languagemenubtn {
  width: 0.3rem;
  height: 0.3rem;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

.languagemenubtn:hover {
  cursor: pointer;
  width: 0.5rem;
  height: 0.5rem;
}

.languagecontainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: auto;
  width: 100%;
  z-index: 1100;
  background-color: rgb(212, 212, 212);
  margin-top: 5rem;
}

.languagebtn {
  font-size: 0.8rem;
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: center;
}

.languagebtn:hover {
  cursor: pointer;
  background-color: gray;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
  overflow-x: hidden;
}

.pagetitle {
  width: 100%;
  height: 350px;
  background-color: #006a52;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagetitletextcontent {
  color: white;
  font-size: 3.5rem;
  font-weight: 200;
}

.abouttextcontainer {
  padding-left: 3vw;
  padding-right: 3vw;
}

.abouttext1 {
  color: #006a52;
  padding-left: 2%;
  padding-right: 2%;
  margin: 2rem 0rem;
  text-align: justify;
  font-size: 1.2rem;
  display: flex;
  font-weight: 600;
  line-height: 2rem;
}

.abouttext2 {
  text-align: justify;
  font-weight: 200;
  line-height: 2rem;
}

.contactuscontainer {
  background-color: rgb(156, 156, 156);
  width: 100%;
  height: 46rem;
  margin-top: 2rem;
  color: white;
}

.contactuscontainer:lang(fr) {
  height: 50rem;
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footeremail {
  width: 100%;
  background-color: #006a52;
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  font-weight: 900;
  color: white;
}

.footercopyright {
  width: 100%;
  background-color: #005a44;
  display: flex;
  justify-content: center;
  color: white;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 900;
}

@media (min-width: 320px) {
  .header {
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .sidedrawerbtn {
    display: flex;
    align-items: center;
  }
  .abouttext1:lang(fr) {
    font-size: 1rem;
    font-weight: 600;
  }
  .abouttext2:lang(fr) {
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  .headerlogo {
    min-width: 200px;
    width: 10%;
  }
}

@media (min-width: 880px) {
  .sidedrawerbtn:lang(fr) {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .abouttextcontainer {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .abouttext1:lang(fr) {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .sidedrawerbtn:lang(en) {
    display: none;
  }
  .contactuscontainer {
    height: 40rem;
  }
  .contactuscontainer:lang(fr) {
    height: 42rem;
  }
}

@media (min-width: 1200px) {
  .header {
    padding-left: 24vw;
    padding-right: 24vw;
  }
  .abouttextcontainer {
    padding-left: 24vw;
    padding-right: 24vw;
  }
  .contactuscontainer:lang(fr) {
    height: 44rem;
  }
}
