.contactus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding-left: 1vw;
  padding-right: 1vw;
}

.contactustitle {
  font-size: 2rem;
}

.contactname {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}
.contactfirstname {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contactfirstname input {
  width: 100%;
  height: 2.5rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
}

.contactfirstname input:focus {
  outline-color: #006a52;
}

.contactlastname {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

.contactlastname input {
  width: 100%;
  height: 2.5rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
}

.contactlastname input:focus {
  outline-color: #006a52;
}

.contactemail {
  width: 100%;
  margin-top: 2rem;
}

.contactemail input {
  width: 100%;
  height: 2.5rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
}

.contactemail input:focus {
  outline-color: #006a52;
}

.contactmessage {
  width: 100%;
  margin-top: 2rem;
  height: 10rem;
  overflow: hidden;
}

.contactmessage textarea {
  width: 100%;
  height: 80%;
  resize: none;
  margin-top: 0.5rem;
  padding: 0.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contactmessage textarea:focus {
  outline-color: #006a52;
}

.submitbtn {
  width: 100px;
  height: 30px;
  background-color: white;
  color: rgb(156, 156, 156);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.submitbtn:hover {
  background-color: #006a52;
  color: black;
  width: 110px;
  height: 40px;
}

.contactemailscontainer {
  width: 100%;
  display: flex;
  height: 3rem;
  flex-direction: column;
}

.contactperson {
  width: 100%;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.submitbtn:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .contactus {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 1200px) {
  .contactus {
    padding-left: 24vw;
    padding-right: 24vw;
  }
}
