.allfounder {
  display: flex;
  height: 40%;
  text-align: center;
  width: 100%;
}

.foundercontainer {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  width: 100%;
}

.foundercontainer h1 {
  margin: 0;
}

.foundername {
  font-weight: 900;
}

.foundertitlecontainer {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  font-weight: 100;
}

.foundertitlecontainer p {
  margin: 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalline {
  border-left: 2px solid white;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (min-width: 320px) {
  .allfounder {
    margin-top: 1rem;
  }
  .foundercontainer {
    max-width: 50%;
  }
  .foundername {
    font-size: 0.8rem;
  }
  .founderpartnertitle {
    font-weight: 900;
    font-size: 1.5rem;
  }
  .foundertitlecontainer {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) {
  .allfounder {
    margin-top: 1rem;
  }
  .foundername {
    font-size: 1.5rem;
  }
  .founderpartnertitle {
    font-weight: 900;
    font-size: 3rem;
  }
  .foundertitlecontainer {
    font-size: 1rem;
  }
}
