.founderinfowhitecontainer {
  width: 100%;
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.foundercontentcontainer {
  display: flex;
}

.profilepicandtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 2rem 2rem;
  width: 30%;
  color: #006a52;
  line-height: 2rem;
}

.verticalline {
  border-left: 2px solid #006a52;
  margin: 2rem 2rem 2rem 0rem;
}

.imagesize {
  width: 100%;
}

.name {
  font-weight: 600;
  font-size: 2rem;
  margin: 2rem 0rem 1rem 0rem;
}

.description {
  width: 60%;
  margin: 0rem 2rem 2rem 0rem;
  white-space: pre-line;
  text-align: justify;
  text-align-last: left;
  line-height: 1.5rem;
}

.descriptionparagraph {
  margin-top: 2rem;
}

.achievemnttitle {
  color: #006a52;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 2rem 0rem 0rem 0rem;
  text-align: start;
}

@media (max-width: 767px) {
  .foundercontentcontainer {
    flex-direction: column;
  }
  .profilepicandtitle {
    flex-direction: row;
    margin-left: 8vw;
    margin-right: 8vw;
  }
  .name {
    margin-top: 0rem;
    font-size: 1.4rem;
    width: 10rem;
  }
  .nametitlemobile {
    margin-left: 1.4rem;
    font-size: 0.64rem;
  }
  .verticalline {
    border-bottom: 2px solid #006a52;
    margin: 0rem 8vw 0rem 8vw;
  }
  .achievemnttitle {
    font-size: 1.15rem;
  }
  .description {
    width: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
    font-size: 0.7rem;
  }
}

@media (max-width: 1199px) {
  .achievementlistitem {
    text-align: left;
  }
}
