.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 24vw;
  padding-right: 24vw;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
  overflow-x: hidden;
}

.pagetitle {
  width: 100%;
  height: 650px;
  background-color: #006a52;
  display: flex;
  justify-content: center;
}

.pagetitlelogo {
  width: 100%;
  height: 40%;
}

.pagetitletextcontent {
  width: 100%;
  margin-top: 3rem;
  color: white;
  font-size: 18px;
  text-align: justify;
  line-height: 2rem;
  font-weight: 100;
}

.foundersection {
  width: 100%;
  position: relative;
  margin-top: 2rem;
  height: 650px;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.founderscontainer {
  z-index: 4;
  position: absolute;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  height: 40%;
}

.founderpartnertitle {
  font-weight: 900;
  font-size: 1.5rem;
}

.foundersectionoverlay {
  position: absolute;
  bottom: 0;
  z-index: 3;
  background: #006a52;
  opacity: 0.8;
  width: 100%;
  height: 40%;
}

.foundersectiontext {
  z-index: 4;
  position: absolute;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}

.allfoundernamecontainer {
  display: flex;
  width: 100%;
}

.successstorybackground {
  background-color: #003a70;
  margin-top: 2rem;
  width: 100%;
  height: 87rem;
  display: flex;
  justify-content: center;
}

.successstorycontent {
  width: 100%;
  color: white;
  text-align: justify;
}

.successstorytitle {
  font-size: 1.82rem;
  padding: 1rem 0rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

.novatitle {
  width: 100%;
}

.novacontenttitle {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-size: 2.2rem;
  margin: 2rem 0rem;
  font-weight: 500;
}

.novacontentdescription {
  font-weight: 100;
  line-height: 2rem;
  font-size: 1.3rem;
}

.novacontentimage {
  width: 100%;
  margin: 2rem 0rem;
}

.discovernovabtn {
  border: none;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.7rem 0rem;
}

.discovernovabtn:hover {
  cursor: pointer;
  background-color: rgb(202, 202, 202);
}

.discovernovabtntext {
  color: #003a70;
  font-weight: 600;
}

.contactuscontainer {
  background-color: rgb(156, 156, 156);
  width: 100%;
  height: 43rem;
  margin-top: 2rem;
  color: white;
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footeremail {
  width: 100%;
  background-color: #006a52;
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  font-weight: 900;
  color: white;
}

.footercopyright {
  width: 100%;
  background-color: #005a44;
  display: flex;
  justify-content: center;
  color: white;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 900;
}

/* small phone */
@media (min-width: 320px) {
  .header {
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .sidedrawerbtn {
    display: flex;
    align-items: center;
  }
  .pagetitlelogocontent {
    width: 80%;
    margin-top: 2rem;
  }
  .pagetitlelogo {
    width: 100%;
    height: 20%;
  }
  .pagetitletextcontent {
    width: 100%;
    margin-top: 2rem;
    color: white;
    font-size: 16px;
    text-align: justify;
    line-height: 2rem;
  }
  .founderscontainer {
    width: 90%;
  }
  .foundersection {
    height: 500px;
  }
  .successstorycontent {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (min-width: 768px) {
  .header {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .sidedrawerbtn {
    display: none;
  }
  .pagetitlelogocontent {
    width: 80%;
    margin-top: 8rem;
  }
  .pagetitlelogo {
    width: 100%;
    height: 40%;
  }
  .pagetitletextcontent {
    width: 100%;
    margin-top: 3rem;
    color: white;
    font-size: 18px;
    text-align: justify;
    line-height: 2rem;
  }
  .founderscontainer {
    width: 80%;
    margin-top: 25rem;
  }

  .foundersection {
    height: 650px;
  }
  .founderpartnertitle {
    font-weight: 900;
    font-size: 3rem;
  }

  .successstorycontent {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .contactuscontainer {
    height: 40rem;
  }
}

/* laptops */
@media (min-width: 1200px) {
  .header {
    padding-left: 24vw;
    padding-right: 24vw;
  }
  .pagetitlelogocontent {
    width: 50%;
    margin-top: 8rem;
  }
  .pagetitlelogo {
    width: 100%;
    height: 40%;
  }
  .founderscontainer {
    width: 50%;
  }
  .successstorycontent {
    padding-left: 24vw;
    padding-right: 24vw;
  }
}
