.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 24vw;
  padding-right: 24vw;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.pagetitle {
  width: 100%;
  height: 650px;
  background-color: #006a52;
  display: flex;
  justify-content: center;
}

.pagetitlelogo {
  width: 100%;
  height: 40%;
}

.pagetitletextcontent {
  width: 100%;
  margin-top: 3rem;
  color: white;
  font-size: 18px;
  text-align: justify;
  line-height: 2rem;
}

.foundersection {
  position: relative;
  margin-top: 2rem;
  height: 650px;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foundersectionoverlay {
  position: absolute;
  bottom: 0;
  z-index: 3;
  background: #006a52;
  opacity: 0.7;
  width: 100%;
  height: 40%;
}

.foundersectiontext {
  z-index: 4;
  position: absolute;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}

.allfoundernamecontainer {
  display: flex;
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

/* small phone */
@media (min-width: 320px) {
  .header {
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .sidedrawerbtn {
    display: flex;
    align-items: center;
  }
  .pagetitlelogocontent {
    width: 80%;
    margin-top: 2rem;
  }
  .pagetitlelogo {
    width: 100%;
    height: 25%;
  }
  .pagetitletextcontent {
    width: 100%;
    margin-top: 2rem;
    color: white;
    font-size: 16px;
    text-align: justify;
    line-height: 2rem;
  }
}

@media (min-width: 768px) {
  .header {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .sidedrawerbtn {
    display: none;
  }
  .pagetitlelogocontent {
    width: 80%;
    margin-top: 8rem;
  }
  .pagetitlelogo {
    width: 100%;
    height: 40%;
  }
  .pagetitletextcontent {
    width: 100%;
    margin-top: 3rem;
    color: white;
    font-size: 18px;
    text-align: justify;
    line-height: 2rem;
  }
}

/* laptops */
@media (min-width: 1200px) {
  .header {
    padding-left: 24vw;
    padding-right: 24vw;
  }
  .pagetitlelogocontent {
    width: 50%;
    margin-top: 8rem;
  }
  .pagetitlelogo {
    width: 100%;
    height: 40%;
  }
}
