.navmenu {
  display: flex;
  width: 30rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: gray;
}

.drawerbtn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35px;
  width: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.drawerbtn:hover {
  cursor: pointer;
}

.drawerbtnline {
  width: 30px;
  height: 1px;
  background: #006a52;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  z-index: 400;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  color: white;
}

.sidedrawer {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px black;
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  max-width: 250px;
  z-index: 999;
}

.sidedrawer ul {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navmenutitle:hover {
  color: #01b98e;
  cursor: pointer;
}

.sidedrawermenu {
  border-bottom: 1px solid #006a52;
  width: 100%;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  list-style: none;
  color: #006a52;
}

.closenavmenubtn {
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid #006a52;
  color: #006a52;
  display: flex;
}

.closesymbol {
  border: 1px solid #006a52;
  border-radius: 15rem;
  margin-right: 0.7rem;
  padding: 0rem 0.3rem;
}

.closemenutext {
  font-weight: 600;
}

@media (max-width: 767px) {
  .navmenu {
    display: none;
  }
}
