.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 24vw;
  padding-right: 24vw;
}

.headerlogo {
  width: 20%;
  height: 25%;
  padding: 0.5rem;
  min-width: 260px;
}

.headerlogo:hover {
  cursor: pointer;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
  overflow-x: hidden;
}

.pagetitle {
  width: 100%;
  height: 350px;
  background-color: #006a52;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagetitletextcontent {
  color: white;
  font-size: 2.5rem;
  font-weight: 200;
}

.foundingpartnercontainer {
  padding-left: 8vw;
  padding-right: 8vw;
}

.foundingpartnertitle {
  width: 100%;
  margin: 2rem 0rem;
  font-weight: 600;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  color: #006a52;
}

.foundingpartnertitle:lang(fr) {
  font-size: 1.2rem;
}

.foundingpartnertext {
  font-weight: 200;
  line-height: 2rem;
  text-align: justify;
}

.foundersbackgroundcontainer {
  width: 100%;
  margin-top: 2rem;
  background-color: #006a52;
}

.foundersdetailcontainer {
  padding-left: 3vw;
  padding-right: 3vw;
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footeremail {
  width: 100%;
  background-color: #006a52;
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  font-weight: 900;
  color: white;
}

.footercopyright {
  width: 100%;
  background-color: #005a44;
  display: flex;
  justify-content: center;
  color: white;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 900;
}

@media (min-width: 320px) {
  .header {
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .sidedrawerbtn {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .headerlogo {
    min-width: 200px;
    width: 10%;
  }
}

@media (min-width: 880px) {
  .sidedrawerbtn:lang(fr) {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .sidedrawerbtn:lang(en) {
    display: none;
  }
  .pagetitletextcontent {
    font-size: 3.5rem;
  }
  .foundingpartnertitle {
    font-size: 3rem;
  }
  .foundingpartnercontainer {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .foundersdetailcontainer {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 1200px) {
  .header {
    padding-left: 24vw;
    padding-right: 24vw;
  }
  .foundingpartnercontainer {
    padding-left: 24vw;
    padding-right: 24vw;
  }
  .foundersdetailcontainer {
    padding-left: 24vw;
    padding-right: 24vw;
  }
}
